* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body {
    background-color: #FAD7A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}

.portifolio{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* largura e altura */
    min-height: 900px;
    width: 980px;

    /* espaçamento interno */
    padding: 80px;

    /* medição da caixa */
    box-sizing: border-box;

    margin: 50px auto;

}

.portifolio h1 {
    margin-bottom: 1.5em;
}

.portifolio .grid {
    display: grid;
    /* espaçamento entre cada coluna */
    gap: 1.5em;
}

@media (min-width: 560px) {
    .portifolio .grid {
        /* largura de cada coluna */
        grid-template-columns: 450px 450px;
    }
}
@media (min-width: 880px) {
    .portifolio .grid {
        /* largura de cada coluna */
        /* grid-template-columns: repeat(3, 400px); */
        align-content: center;
        /* para tela grande, centralizar os elementos  */
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .login-portifolio {
    height: 10em;
    width: auto;
   
}
}

.login-portifolio
{
    text-align: center;
    height: 350px;
    width: 400px;
    /* propriedades para encaixar as imagens e ficar do mesmo tamanho */
    object-fit: cover;
    /* valor para arredondar */
   /* border-radius: 8px; */
   margin: auto;
}

p{
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 1.5em;
}
