* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body {
    background-color: #FAD7A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}


/* se a tela tiver pelo menos 400px, vai carregar esses estilos */
@media(min-width: 400px) {
    body {
        font-size: 16px;
    }
}

/* breakpoint */
@media(min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}

.portifolio{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* largura e altura */
    height: 900px;
    width: 850px;

    /* espaçamento interno */
    padding: 80px;

    /* medição da caixa */
    box-sizing: border-box;

}

.portifolio h1 {
    margin-bottom: 1.5em;
}

.portifolio .grid {
    display: grid;
    /* espaçamento entre cada coluna */
    gap: 1em;
    /* largura de cada coluna */
}

.site-subtitle,
.site-title {
    color: #F1948A;
    /* centralizar texto */
    text-align: center;
    
}
.site-subtitle{
    font-size: 20px;
    font-style: italic;
}
.site-title{
    font-size: 2em;
}

.menu{
    background-color: white;
    position: fixed;

    /* largura e altura */
    height: 290px;
    width: 470px;

    /* espaçamento interno */
    padding: 50px;

    /* medição da caixa */
    box-sizing: border-box;

    /* modificar e fazer uma sombra para caixa */
    box-shadow: 4px 4px 2px 0px rgb(238, 227, 128); 
    

}
.menu ul {
    /* força todo mundo virar coluna, um ao lado do outro */
    display: flex;
    /* espaçamento entre colunas space-around significa espaço entre colunas*/
    justify-content: space-around;
}

/* selecionando todas as li que estão dentro do elemento menu */
.menu li {
    /* sair o estilo de lista */
 list-style: none;
}

.menu a {
    /*  afastar o conteúdo de texto das bordas */
  color: #F1948A;
  display: block;
  padding: 30px;
  text-decoration: none;

}

/* pseudoclasse para passar o mause por cima */
a:hover{
 text-decoration: underline;
}

.photo-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.img-container{
    text-align: center;
}

.login-portifolio
{
    text-align: center;
    height: 400px;
    width: 600px;
   
}

p{
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.5em;
}
