body {
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.menu{
    background-color: white;
}

/* Tirar o wwww */
a {
    text-decoration: none;
}

/* pseudoclasse para passar o mause por cima */
a:hover{
 text-decoration: underline;
}

/* selecionando todas as li que estão dentro do elemento menu */
.menu li {
    /* sair o estilo de lista */
 list-style: none;
}