body {
    background-color: #FAD7A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.site-subtitle,
.site-title {
    color: #F1948A;
    /* centralizar texto */
    text-align: center;
    
}
.site-subtitle{
    font-size: 20px;
    font-style: italic;
}

.menu{
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 10px;
}
.menu ul {
    /* força todo mundo virar coluna, um ao lado do outro */
    display: flex;
    /* espaçamento entre colunas space-around significa espaço entre colunas*/
    justify-content: space-around;
}

/* selecionando todas as li que estão dentro do elemento menu */
.menu li {
    /* sair o estilo de lista */
 list-style: none;
}

/* Tirar o wwww */
a {
    text-decoration: none;
    color: #F1948A;
}

/* pseudoclasse para passar o mause por cima */
a:hover{
 text-decoration: underline;
}
